<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto create">
      <h3 class="mx-auto mt-4">会員情報編集</h3>
      <table class="table">
        <%= form_with model: @customer, url: admin_customer_path(@customer.id), local:true do |f| %>
          <tbody>
            <tr>
              <td class="mypage-table-head">会員ID</td>
              <td class="mypage-table-first"><%= @customer.id %></td>
            </tr>
            <tr>
              <td class="mypage-table-head">氏名</td>
              <td class="mypage-table-first"><%= f.text_field :last_name, autofocus: true %></td>
              <td><%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <td>フリガナ</td>
              <td><%= f.text_field :last_name_kana %></td>
              <td><%= f.text_field :first_name_kana %></td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td colspan="3"><%= f.text_field :address, class:"mypage-edit-address" %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= f.text_field :telephone_number %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.email_field :email %></td>
            </tr>
            <tr>
              <td>会員ステータス</td>
              <td><%= f.radio_button :is_active, value: true %> 有効　<%= f.radio_button :is_active, value: false %> 退会</td>
            </tr>
            <tr>
              <td>　</td>
              <td><%= f.submit "変更を保存", class:"btn btn-success mypage-edit-submit" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>