<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h5 class="admin-order-show">注文履歴詳細</h5>
    </div>
    <div class-"col-md-9"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table admin-order-show-table">
        <tbody>
          <tr>
            <% customer_name = @order.customer.last_name + " " + @order.customer.first_name %>
            <td class="admin-order-show-table admin-order-show-table-first"><b>購入者</b></td>
            <td class="admin-order-show-table"><%= link_to customer_name, admin_customer_path(@order.customer.id) %></td>
          </tr>
          <tr>
            <td class="admin-order-show-table admin-order-show-table-first"><b>注文日</b></td>
            <td class="admin-order-show-table"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <% postal = @order.postal_code + " " + @order.address %>
            <td class="admin-order-show-table admin-order-show-table-first"><b>配送先</b></td>
            <td class="admin-order-show-table">
              〒 <%= postal %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td class="admin-order-show-table admin-order-show-table-first"><b>支払い方法</b></td>
            <td class="admin-order-show-table"><%= Order.payment_methods_i18n[@order.payment_method] %></td>
          </tr>
          <tr>
            <td class="admin-order-show-table admin-order-show-table-first"><b>注文ステータス</b></td>
            <td class="admin-order-show-table">
              <%= form_with model: @order, url: admin_order_path, local: true do |f| %>
                <%= f.select :status, @statuses %> <%= f.submit "更新", class:"btn btn-success" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>