<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h5 class="cart_items_title">注文情報入力</h5>
    </div>
    <div class="col-md-8"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
        <h6 class="mt-3"><b>支払い方法</b></h6>
        <div class="ml-4">
          <%= f.radio_button :payment_method, :credit_card, checked: true %> <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
          <%= f.radio_button :payment_method, :transfer %> <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
        </div>
        <h6 class="mt-3"><b>お届け先</b></h6>
        <div class="ml-4">
          <%= f.radio_button :radio_number, 1 %> <%= "ご自身の住所" %><br>
          <div class="ml-4">
            〒<%= current_customer.postal_code %>　<%= current_customer.address %><br>
            <%= current_customer.last_name %><%= current_customer.first_name %>
          </div>
          <%= f.radio_button :radio_number, 2 %> <%= "登録済住所から選択" %>
          <div class="ml-4">
            <%= f.select :select_address, @postal_value_list %>
          </div>
          <%= f.radio_button :radio_number, 3 %> <%= "新しいお届け先" %>
          <div class="ml-4">
            <table class="table">
              <tbody>
                <tr>
                  <td class="customer-order-table-first no-border">郵便番号(ハイフンなし)</td>
                  <td class="no-border"><%= f.text_field :postal_code, placeholder: "0000000", class:"customer-order-postal_code-form" %></td>
                </tr>
                <tr>
                  <td class="customer-order-table-first no-border">住所</td>
                  <td class="no-border"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class:"customer-order-address-form" %></td>
                </tr>
                <tr>
                  <td class="customer-order-table-first no-border">宛名</td>
                  <td class="no-border"><%= f.text_field :name, placeholder: "令和道子", class:"customer-order-postal_code-form" %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="customer-order-button">
          <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

</div>