<div class="container">
  <div class="row">
    <div class="col-md-12 create">

      <h2>管理者サインアップ</h2>

      <div class="devise-outer">

        <%= form_with model: @admin, url: admin_registration_path, class: "devise-inner", local: true do |f| %>
          <%= render "admin/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>

      </div>

      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
